<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.huitingweb.common.dao.HtingWxUserMapper">
  <resultMap id="BaseResultMap" type="com.hz.huitingweb.common.model.HtingWxUser">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="weixin_id" jdbcType="VARCHAR" property="weixinId" />
  </resultMap>
</mapper>