<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.huitingweb.common.dao.HtingYunPathMapper">
  <resultMap id="BaseResultMap" type="com.hz.huitingweb.common.model.HtingYunPath">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="open" jdbcType="VARCHAR" property="open" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="target" jdbcType="VARCHAR" property="target" />
  </resultMap>
</mapper>